/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}
body { padding: 0; }

.mapboxgl-ctrl-custom {
    /*background-image: url(/icons/custom-mapbox-control.svg);*/
    
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
  }